<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>InfoCategories</name>
	<displayName><![CDATA[Info Categories]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Module to show a HTML block in the header of the categories that you choose]]></description>
	<author><![CDATA[Tecinet]]></author>
	<tab><![CDATA[content_management]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
